<!DOCTYPE html>
<html lang="uz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>cabinet</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="container">
    <div class="d-flex site-header">
        <div class="flex-wrap flex-fill ">
            <h1 class="px-5 text-uppercase text-left">Cabinet</h1>
        </div>
        <div class="flex-wrap flex-fill d-flex">
            <div class="flex-wrap flex-fill text-center mt-3">
                <a class="text-uppercase font-weight-bold site-link" href="/phone/">Phone</a>
            </div>
            <div class="flex-wrap flex-fill text-center mt-3">
                <a class="text-uppercase font-weight-bold site-link" href="/tv/">Tv</a>
            </div>
            <div sec:authorize="hasRole('ADMIN')" class="flex-wrap flex-fill text-center mt-3">
                <a class="text-uppercase font-weight-bold site-link" href="/fruit/">Fruit</a>
            </div>
            <div sec:authorize="hasRole('USER')" class="flex-wrap flex-fill text-center mt-3">
                <a class="text-uppercase font-weight-bold site-link" href="/vagetable/">Vagetable</a>
            </div>
        </div>
    </div>
<!--    <h3 th:text="${user.username}" class="text-uppercase"></h3>-->
</div>
</body>
</html>