<!DOCTYPE html>
<html lang="uz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fruit</title>

    <link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatable/css/jquery.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/toaster/jquery.toast.css}">

</head>
<body>
<div class="container-fluid">
    <h2 class="text-center m-0 py-3">Fruits Page</h2>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped" id="fruitTable"></table>
        </div>
    </div>

    <div class="row py-4">
        <div class="col-md-6">
            <a href="/logout" class="btn btn-primary text-white">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-primary text-white btn-create"
                    data-toggle="modal" data-target="#fruitModal">
                <i class="fas fa-plus-square"></i>
                Add Fruit
            </button>
        </div>
    </div>

    <!--    MODALS-->
    <div class="modal fade" id="fruitModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <form id="fruitForm"> <!--th:action="@{/fruit/add}" method="POST"-->
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Fruit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" data-validation-length="min1"  id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input type="text" class="form-control" data-validation-length="min1"  id="price" name="price">
                        </div>
                        <div class="form-group">
                            <label for="type">Type:</label>
                            <input type="text" class="form-control" data-validation-length="min1"  id="type" name="type">
                        </div>
                        <div class="form-group">
                            <label for="expireDate">expireDate:</label>
                            <input type="text" class="form-control" data-validation-length="min1"  id="expireDate" name="expireDate">
                        </div>
                        <div class="form-group">
                            <label for="colorie">Colorie:</label>
                            <input type="text" class="form-control" data-validation-length="min1"  id="colorie" name="colorie">
                        </div>
                        <div class="form-group">
                            <label for="madeIn">MadeIn:</label>
                            <input type="text" class="form-control" data-validation-length="min1"  id="madeIn" name="madeIn">
                        </div>
                        <div class="form-group">
                            <label for="fruitNumber">FruitNumber:</label>
                            <input type="text" class="form-control" data-validation-length="min1"  id="fruitNumber" name="fruitNumber">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="save">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fruitDeleteModal" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>O'chirmoqchimisiz?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger" id="fruitDelBtn">Delete</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/plugins/toaster/jquery.toast.js}"></script>
<script th:src="@{/plugins/datatable/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/fruit.js}"></script>

</body>
</html>