.site-header{
    background-color: #d3d9df;
}
.site-link{
    font-size: 20px;
    line-height: 18px;
}
body{
    height: 730px;
    background-image: url(../img/team-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}